/JavaApplication10/nbproject/private/
/JavaApplication10/build/
/COMPARAR/nbproject/private/
/COMPARAR/build/
/POSITIVO_NEGATIVO/nbproject/private/
/POSITIVO_NEGATIVO/build/
/MULTIPLO/nbproject/private/
/MULTIPLO/build/
/LONGITUD/nbproject/private/
/LONGITUD/build/
/PALINDROMO/nbproject/private/